.home-page {
    margin-block: 1em;
    display: flex;
    flex-direction: column;
    margin-inline: 1.5em;
    justify-content: center;

    .user-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media (max-width:600px) {
        margin-inline: 1.5em;
    }

    .user-greet {
        font-size: 1.1em;
        font-weight: 500;
    }

    .coins-info {
        font-size: 1em;
        display: flex;
        align-items: center;
        gap: 5px;

        img {
            height: 30px;
        }
    }

}