:host {
    margin-block: 1em;
    display: flex;
    flex-direction: column;
    margin-inline: 3em;
    justify-content: center;
   
    @media (max-width:600px) {
        margin-inline: 1em;
    }

    .coins-info {
        display: flex;
        align-items: center;
        gap: 5px;

        img {
            height: 30px;
        }
    }

}