.contact-filter {
  display: flex;
  justify-content: center;

  input {
    border: 1px solid rgb(214, 211, 211);
    border-radius: 5px;
    width: 50%;
    height: 2.5em;
    padding: 8px;

    &:focus {
      outline: none;
    }

    @media (max-width:600px) {
      margin-inline: 1.5em;
      width: 100%;

    }
  }
}