<section *ngIf="contact$ | async as contact" class="contact-details">
    <section class="actions">
        <button (click)="onBack()">
            <img src="../../../assets/img/back.png" alt="">
        </button>
        <button routerLink="/contact/edit/{{contact._id}}">
            <img src="../../../assets/img/edit.png" alt="">
        </button>
    </section>
    <img src="../../../assets/img/users.png" alt="contact">
    <p>Name: {{contact.name}}</p>
    <p>Phone: {{contact.phone}}</p>
    <p>Email: {{contact.email}}</p>

    <transfer-fund [contact$]="contact" [onTransferCoins]="onTransferCoins" [maxCoins$]="maxCoins$"></transfer-fund>
    <moves-list title="Your Moves" [moves$]="moves$"></moves-list>
</section>