.contact-preview{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .7em;
    background-color: rgba(202, 199, 199, 0.4);
    border-radius: 20em;
    padding: .8em;
    
    span{
        color: #1a1919;
    }
}