<section class="contact-preview">
    <section class="contact-info">
        <img src="../../../assets/img/users.png" alt="" />
        <span routerLink="/contact/{{contact._id}}">{{contact.name}}</span>
    </section>
    <section class="actions">
        <button (click)="onRemoveContact()" class="remove-btn">
            <img src="../../../assets/img/delete.png" alt="">
        </button>
        <button routerLink="/contact/edit/{{contact._id}}">
            <img class="edit-img" src="../../../assets/img/edit.png" alt="edit">
        </button>
    </section>
</section>