.contact-index {
    margin-block-end: 2em;

    .add-btn {
        margin-inline: 1.5em;
        margin-block-end: 1em;
        background-color: transparent;
        border: none;
        border-radius: 5px;

        img {
            height: 35px;
        }
    }
}